<%- include('partials/header') -%>

<h1>404 Not Found</h1>

<h2>Sorry, no results for:  <%=request%> </h2>
<p class="goback btn-primary"><a href="/ratings/add" class="btn">Go Back</a></p>


<%- include('partials/footer') -%>
