<%- include('partials/header') -%>

<form action="/ratings/searchMovie/" method="GET" id="form">
    <div class="form-group">
      <label for="movie">Search for a Movie:</label>
      <input type="text" class="form-control" id="movie" placeholder="Enter Movie Title" name="movieTitle">
      <input type="text" class="form-control" id="year" placeholder="Enter Release Year" name="movieYear">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<%- include('partials/footer') -%>

