<%- include('partials/header') -%>

    <main class="px-3">
        <h1>Rate My Movie</h1>
        <p class="lead"> Make your own version of rating of the movie!</p>
        <p class="lead"> Login or sign up to use the service :) </p>
        <div class="buttons">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>  
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign Up</a>
        </div>
    </main>
    
<%- include('partials/footer') -%>

